accelerate==0.27.2
datasets==4.3.0
fire==0.5.0
huggingface-hub==0.36.0
matplotlib==3.7.5
numpy==1.24.4
peft==0.9.0
protobuf==4.21.12
psutil==5.9.8
pyyaml==6.0.1
safetensors==0.7.0
sentencepiece==0.2.0
tokenizers==0.19.1
torch==2.2.1+cu118
transformers==4.40.1
tqdm==4.67.1
wandb==0.18.1
requests==2.32.5
